div.jumbotron {
    margin-top: 50px;
}
.navbar-item {
    line-height: 20px;
    position: relative;
    display: block;
    padding: 10px 15px;
    color: #9d9d9d;
}

.navbar-lang {
    padding: 5px 5px;
    height: 25px;
}

.navbar-lang:hover {
    cursor: pointer;
}

.navbar-lang > span {
    color: white;
}

active-lang {
    background-color: #28a4c9;
}
.navbar-lang-switcher {
    margin: auto;
    padding-right: 10px;
}

.navbar-info-container {
    margin-top:8px;
}
.navbar-info-container-item {
    padding-right: 5px;
}
.navbar-info-container-item-text {
    color: white;
    font-size: 20px;
}
div.info-alert {
    position: absolute;
    z-index: 9999999;
    right: 0;
}
div.container-main {
    margin-top: 60px;
}